<a href="https://colab.research.google.com/github/Ruthicaf1/GroupProj/blob/main/pyspark_advertising.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import os
# Find the latest version of spark 3.0  from http://www-us.apache.org/dist/spark/ and enter as the spark version
# For example:
# spark_version = 'spark-3.0.2'
spark_version = 'spark-3.1.1'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www-us.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop2.7.tgz
!tar xf $SPARK_VERSION-bin-hadoop2.7.tgz
!pip install -q findspark

# Set Environment Variables
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop2.7"

# Start a SparkSession
import findspark
findspark.init()

Get:1 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Ign:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Ign:3 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:4 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release
Hit:5 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Hit:6 http://archive.ubuntu.com/ubuntu bionic InRelease
Get:7 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Get:8 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease [15.9 kB]
Get:9 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Hit:12 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Get:13 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Hit:14 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Get:15 http://security.ubuntu.com/ubuntu bionic-security/restricted amd64 Packages [348 kB]
Get:16 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease [21.3 kB]
Get:17 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [2,045 kB]
Get:18 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main Sources [1,748 kB]
Get:19 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,402 kB]
Get:20 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,170 kB]
Get:21 http://archive.ubuntu.com/ubuntu bionic-updates/restricted amd64 Packages [378 kB]
Get:22 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [2,475 kB]
Get:23 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main amd64 Packages [894 kB]
Get:24 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic/main amd64 Packages [49.4 kB]
Fetched 11.8 MB in 4s (2,681 kB/s)
Reading package lists... Done

In [2]:
# Start Spark session
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("PCard Transactions").getOrCreate()

In [3]:
# Read in data from S3 Buckets
from pyspark import SparkFiles
url = "https://2u-data-curriculum-team.s3.amazonaws.com/dataviz-netflix/unit-7/pcard_transactions.csv"
spark.sparkContext.addFile(url)
df = spark.read.csv(SparkFiles.get("pcard_transactions.csv"), sep=",", header=True)

# Show DataFrame
df.show()

+----------+-------------+--------------------+--------------------+------------------------+--------------------+------+--------------------+--------------------+--------------------+----------------------------+
|Year-Month|Agency Number|         Agency Name|Cardholder Last Name|Cardholder First Initial|         Description|Amount|              Vendor|    Transaction Date|         Posted Date|Merchant Category Code (MCC)|
+----------+-------------+--------------------+--------------------+------------------------+--------------------+------+--------------------+--------------------+--------------------+----------------------------+
|    201307|         1000|OKLAHOMA STATE UN...|               Mason|                       C|    GENERAL PURCHASE|   890|               NACAS|07/30/2013 12:00:...|07/31/2013 12:00:...|        CHARITABLE AND SO...|
|    201307|         1000|OKLAHOMA STATE UN...|               Mason|                       C|        ROOM CHARGES|368.96|      SHERATON HOTEL|07/30/2013 12:00:...|07/31/2013 12:00:...|                    SHERATON|
|    201307|         1000|OKLAHOMA STATE UN...|              Massey|                       J|    GENERAL PURCHASE|165.82|      SEARS.COM 9300|07/29/2013 12:00:...|07/31/2013 12:00:...|        DIRCT MARKETING/D...|
|    201307|         1000|OKLAHOMA STATE UN...|              Massey|                       T|    GENERAL PURCHASE| 96.39|      WAL-MART #0137|07/30/2013 12:00:...|07/31/2013 12:00:...|        GROCERY STORES,AN...|
|    201307|         1000|OKLAHOMA STATE UN...|       Mauro-Herrera|                       M|HAMMERMILL COPY P...|125.96|      STAPLES DIRECT|07/30/2013 12:00:...|07/31/2013 12:00:...|        STATIONERY, OFFIC...|
|    201307|         1000|OKLAHOMA STATE UN...|       Mauro-Herrera|                       M|    GENERAL PURCHASE|394.28|KYOCERA DOCUMENT ...|07/29/2013 12:00:...|07/31/2013 12:00:...|        OFFICE, PHOTOGRAP...|
|    201307|         1000|OKLAHOMA STATE UN...|                Mays|                       B|    GENERAL PURCHASE| 19.87|      WAL-MART #0137|07/30/2013 12:00:...|07/31/2013 12:00:...|        GROCERY STORES,AN...|
|    201307|         1000|OKLAHOMA STATE UN...|                Mays|                       B|    GENERAL PURCHASE|  10.1|     DAYLIGHT DONUTS|07/29/2013 12:00:...|07/31/2013 12:00:...|        FAST FOOD RESTAUR...|
|    201307|         1000|OKLAHOMA STATE UN...|            McCarthy|                       D|    GENERAL PURCHASE| 142.6|UFIRST  LAUNDRY SVCS|07/30/2013 12:00:...|07/31/2013 12:00:...|        MENS, WOMENS AND ...|
|    201307|         1000|OKLAHOMA STATE UN...|             McClurg|                       L|AT&T SERVICE PAYM...| 29.99|           AT&T DATA|07/30/2013 12:00:...|07/31/2013 12:00:...|        TELECOMMUNICATION...|
|    201307|         1000|OKLAHOMA STATE UN...|             McGowin|                       R|    GENERAL PURCHASE|278.23|       RANDY'S FOODS|07/29/2013 12:00:...|07/31/2013 12:00:...|        FREEZER AND LOCKE...|
|    201307|         1000|OKLAHOMA STATE UN...|               McKee|                       P|    GENERAL PURCHASE| 127.8|DEARINGER PRINTIN...|07/30/2013 12:00:...|07/31/2013 12:00:...|        MISCELLANEOUS AND...|
|    201307|         1000|OKLAHOMA STATE UN...|            McLemore|                       A|    GENERAL PURCHASE|572.27|GIDDINGS MACHINE CO.|07/30/2013 12:00:...|07/31/2013 12:00:...|        COMMERCIAL EQUIPM...|
|    201307|         1000|OKLAHOMA STATE UN...|             McMurry|                       S|50-LB PLAY SAND B...|  12.9|        LOWES #00241|07/30/2013 12:00:...|07/31/2013 12:00:...|        HOME SUPPLY WAREH...|
|    201307|         1000|OKLAHOMA STATE UN...|              Meints|                       K|    GENERAL PURCHASE|   445|OK DEPT OF VO-TEC...|07/30/2013 12:00:...|07/31/2013 12:00:...|        GOVERNMENT SERVIC...|
|    201307|         1000|OKLAHOMA STATE UN...|           Mohiuddin|                       A|    GENERAL PURCHASE|452.91| TFS THERMOASHEVILLE|07/31/2013 12:00:...|07/31/2013 12:00:...|        DENTAL/LABORATORY...|
|    201307|         1000|OKLAHOMA STATE UN...|           Mohiuddin|                       I|    GENERAL PURCHASE|  2425|WESTERN EQUIPMENT...|07/29/2013 12:00:...|07/31/2013 12:00:...|             HARDWARE STORES|
|    201307|         1000|OKLAHOMA STATE UN...|           Mohiuddin|                       I|    GENERAL PURCHASE|  2425|WESTERN EQUIPMENT...|07/29/2013 12:00:...|07/31/2013 12:00:...|             HARDWARE STORES|
|    201307|         1000|OKLAHOMA STATE UN...|         Mollenhauer|                       R|    GENERAL PURCHASE|  7.63|   HOBBY-LOBBY #0005|07/29/2013 12:00:...|07/31/2013 12:00:...|        HOBBY,TOY,AND GAM...|
|    201307|         1000|OKLAHOMA STATE UN...|          MONTGOMERY|                       R|    GENERAL PURCHASE| 18.97|      WAL-MART #0121|07/30/2013 12:00:...|07/31/2013 12:00:...|        GROCERY STORES,AN...|
+----------+-------------+--------------------+--------------------+------------------------+--------------------+------+--------------------+--------------------+--------------------+----------------------------+
only showing top 20 rows

In [4]:
# Start Spark session
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Rainfall Temperature").config("spark.driver.extraClassPath","/content/postgresql-42.2.9.jar").getOrCreate()

In [5]:
# Read in data from S3 Buckets
from pyspark import SparkFiles
url = "https://2u-data-curriculum-team.s3.amazonaws.com/dataviz-netflix/unit-7/rainfall_temperature.csv"
spark.sparkContext.addFile(url)
df = spark.read.csv(SparkFiles.get("rainfall_temperature.csv"), sep=",", header=True)

# Show DataFrame
df.show()

+----------------+--------------------+-------------------+-------------------+-------------------+----------+--------------+-------------------+----+------+----------+-----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+-----+----+----+
|OrganisationName|    OrganisationCode|      PublishedDate|       DurationFrom|         DurationTo|LatestData|       GeoName|ReportingPeriodType|Year|Period|Rainfallmm| Temp|_c12|_c13|_c14|_c15|_c16|_c17|_c18|_c19|_c20|_c21|_c22|_c23|_c24|_c25|_c26|_c27|_c28|_c29|_c30|_c31|_c32| _c33|_c34|_c35|
+----------------+--------------------+-------------------+-------------------+-------------------+----------+--------------+-------------------+----+------+----------+-----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+-----+----+----+
|    Lincolnshire|http://opendataco...|2019-02-27T00:00:00|2010-01-01T00:00:00|2010-01-31T00:00:00|      TRUE|England E & NE|            Monthly|2010|   JAN|      69.5|  0.8|null|null|null|null|null|null|2019| 3.4|   6|   7| 7.8|10.3|13.4|  17|16.5|13.4| 8.8| 5.6| 4.9|4.89|8.38|15.67|9.26|9.54|
|    Lincolnshire|http://opendataco...|2019-02-27T00:00:00|2010-02-01T00:00:00|2010-02-28T00:00:00|      TRUE|England E & NE|            Monthly|2010|   FEB|      71.7|  1.6|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null| null|null|null|
|    Lincolnshire|http://opendataco...|2019-02-27T00:00:00|2010-03-01T00:00:00|2010-03-31T00:00:00|      TRUE|England E & NE|            Monthly|2010|   MAR|      65.1|  5.5|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null| null|null|null|
|    Lincolnshire|http://opendataco...|2019-02-27T00:00:00|2010-04-01T00:00:00|2010-04-30T00:00:00|      TRUE|England E & NE|            Monthly|2010|   APR|      21.4|  8.2|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null| null|null|null|
|    Lincolnshire|http://opendataco...|2019-02-27T00:00:00|2010-05-01T00:00:00|2010-05-31T00:00:00|      TRUE|England E & NE|            Monthly|2010|   MAY|      22.1|  9.8|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null| null|null|null|
|    Lincolnshire|http://opendataco...|2019-02-27T00:00:00|2010-06-01T00:00:00|2010-06-30T00:00:00|      TRUE|England E & NE|            Monthly|2010|   JUN|      42.7| 14.3|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null| null|null|null|
|    Lincolnshire|http://opendataco...|2019-02-27T00:00:00|2010-07-01T00:00:00|2010-07-31T00:00:00|      TRUE|England E & NE|            Monthly|2010|   JUL|      61.1| 16.4|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null| null|null|null|
|    Lincolnshire|http://opendataco...|2019-02-27T00:00:00|2010-08-01T00:00:00|2010-08-31T00:00:00|      TRUE|England E & NE|            Monthly|2010|   AUG|      76.6| 14.6|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null| null|null|null|
|    Lincolnshire|http://opendataco...|2019-02-27T00:00:00|2010-09-01T00:00:00|2010-09-30T00:00:00|      TRUE|England E & NE|            Monthly|2010|   SEP|      83.9| 13.4|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null| null|null|null|
|    Lincolnshire|http://opendataco...|2019-02-27T00:00:00|2010-10-01T00:00:00|2010-10-31T00:00:00|      TRUE|England E & NE|            Monthly|2010|   OCT|        65|  9.6|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null| null|null|null|
|    Lincolnshire|http://opendataco...|2019-02-27T00:00:00|2010-11-01T00:00:00|2010-11-30T00:00:00|      TRUE|England E & NE|            Monthly|2010|   NOV|     118.2|  4.5|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null| null|null|null|
|    Lincolnshire|http://opendataco...|2019-02-27T00:00:00|2010-12-01T00:00:00|2010-12-31T00:00:00|      TRUE|England E & NE|            Monthly|2010|   DEC|      40.7| -1.2|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null| null|null|null|
|    Lincolnshire|http://opendataco...|2019-02-27T00:00:00|2009-12-01T00:00:00|2010-02-28T00:00:00|      TRUE|England E & NE|             Season|2010|Winter|     228.7| 1.52|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null| null|null|null|
|    Lincolnshire|http://opendataco...|2019-02-27T00:00:00|2010-03-01T00:00:00|2010-05-31T00:00:00|      TRUE|England E & NE|             Season|2010|Spring|     108.6| 7.85|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null| null|null|null|
|    Lincolnshire|http://opendataco...|2019-02-27T00:00:00|2010-06-01T00:00:00|2010-08-31T00:00:00|      TRUE|England E & NE|             Season|2010|Summer|     180.5|15.08|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null| null|null|null|
|    Lincolnshire|http://opendataco...|2019-02-27T00:00:00|2010-09-01T00:00:00|2010-11-30T00:00:00|      TRUE|England E & NE|             Season|2010|Autumn|     267.2| 9.17|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null| null|null|null|
|    Lincolnshire|http://opendataco...|2019-02-27T00:00:00|2010-01-01T00:00:00|2010-12-31T00:00:00|      TRUE|England E & NE|      Calendar Year|2010|Annual|     738.3| 8.16|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null| null|null|null|
|    Lincolnshire|http://opendataco...|2019-02-27T00:00:00|2011-01-01T00:00:00|2011-01-31T00:00:00|      TRUE|England E & NE|            Monthly|2011|   JAN|      54.5|  3.1|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null| null|null|null|
|    Lincolnshire|http://opendataco...|2019-02-27T00:00:00|2011-02-01T00:00:00|2011-02-28T00:00:00|      TRUE|England E & NE|            Monthly|2011|   FEB|        82|  5.4|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null| null|null|null|
|    Lincolnshire|http://opendataco...|2019-02-27T00:00:00|2011-03-01T00:00:00|2011-03-31T00:00:00|      TRUE|England E & NE|            Monthly|2011|   MAR|      20.5|    6|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null| null|null|null|
+----------------+--------------------+-------------------+-------------------+-------------------+----------+--------------+-------------------+----+------+----------+-----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+-----+----+----+
only showing top 20 rows

In [6]:
def celsius_to_fahrenheit(temperature):
  temperature = float(temperature)
  temperature = (temperature * 1.8) + 32
  return temperature

In [7]:
spark.udf.register("celsius_to_fahrenheit", celsius_to_fahrenheit)

In [8]:
df.createOrReplaceTempView("rainfall_temperature")

In [9]:
temp_df = spark.sql("SELECT PublishedDate, celsius_to_fahrenheit(Temp) FROM rainfall_temperature")
temp_df.show()

+-------------------+---------------------------+
|      PublishedDate|celsius_to_fahrenheit(Temp)|
+-------------------+---------------------------+
|2019-02-27T00:00:00|                      33.44|
|2019-02-27T00:00:00|                      34.88|
|2019-02-27T00:00:00|                       41.9|
|2019-02-27T00:00:00|                      46.76|
|2019-02-27T00:00:00|                      49.64|
|2019-02-27T00:00:00|                      57.74|
|2019-02-27T00:00:00|         61.519999999999996|
|2019-02-27T00:00:00|                      58.28|
|2019-02-27T00:00:00|         56.120000000000005|
|2019-02-27T00:00:00|                      49.28|
|2019-02-27T00:00:00|                       40.1|
|2019-02-27T00:00:00|                      29.84|
|2019-02-27T00:00:00|                     34.736|
|2019-02-27T00:00:00|         46.129999999999995|
|2019-02-27T00:00:00|         59.144000000000005|
|2019-02-27T00:00:00|                     48.506|
|2019-02-27T00:00:00|                     46.688|
|2019-02-27T00:00:00|                      37.58|
|2019-02-27T00:00:00|                      41.72|
|2019-02-27T00:00:00|                       42.8|
+-------------------+---------------------------+
only showing top 20 rows

In [10]:
temp_df = spark.sql("SELECT *, celsius_to_fahrenheit(Temp) FROM rainfall_temperature")
temp_df.show()

+----------------+--------------------+-------------------+-------------------+-------------------+----------+--------------+-------------------+----+------+----------+-----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+-----+----+----+---------------------------+
|OrganisationName|    OrganisationCode|      PublishedDate|       DurationFrom|         DurationTo|LatestData|       GeoName|ReportingPeriodType|Year|Period|Rainfallmm| Temp|_c12|_c13|_c14|_c15|_c16|_c17|_c18|_c19|_c20|_c21|_c22|_c23|_c24|_c25|_c26|_c27|_c28|_c29|_c30|_c31|_c32| _c33|_c34|_c35|celsius_to_fahrenheit(Temp)|
+----------------+--------------------+-------------------+-------------------+-------------------+----------+--------------+-------------------+----+------+----------+-----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+-----+----+----+---------------------------+
|    Lincolnshire|http://opendataco...|2019-02-27T00:00:00|2010-01-01T00:00:00|2010-01-31T00:00:00|      TRUE|England E & NE|            Monthly|2010|   JAN|      69.5|  0.8|null|null|null|null|null|null|2019| 3.4|   6|   7| 7.8|10.3|13.4|  17|16.5|13.4| 8.8| 5.6| 4.9|4.89|8.38|15.67|9.26|9.54|                      33.44|
|    Lincolnshire|http://opendataco...|2019-02-27T00:00:00|2010-02-01T00:00:00|2010-02-28T00:00:00|      TRUE|England E & NE|            Monthly|2010|   FEB|      71.7|  1.6|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null| null|null|null|                      34.88|
|    Lincolnshire|http://opendataco...|2019-02-27T00:00:00|2010-03-01T00:00:00|2010-03-31T00:00:00|      TRUE|England E & NE|            Monthly|2010|   MAR|      65.1|  5.5|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null| null|null|null|                       41.9|
|    Lincolnshire|http://opendataco...|2019-02-27T00:00:00|2010-04-01T00:00:00|2010-04-30T00:00:00|      TRUE|England E & NE|            Monthly|2010|   APR|      21.4|  8.2|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null| null|null|null|                      46.76|
|    Lincolnshire|http://opendataco...|2019-02-27T00:00:00|2010-05-01T00:00:00|2010-05-31T00:00:00|      TRUE|England E & NE|            Monthly|2010|   MAY|      22.1|  9.8|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null| null|null|null|                      49.64|
|    Lincolnshire|http://opendataco...|2019-02-27T00:00:00|2010-06-01T00:00:00|2010-06-30T00:00:00|      TRUE|England E & NE|            Monthly|2010|   JUN|      42.7| 14.3|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null| null|null|null|                      57.74|
|    Lincolnshire|http://opendataco...|2019-02-27T00:00:00|2010-07-01T00:00:00|2010-07-31T00:00:00|      TRUE|England E & NE|            Monthly|2010|   JUL|      61.1| 16.4|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null| null|null|null|         61.519999999999996|
|    Lincolnshire|http://opendataco...|2019-02-27T00:00:00|2010-08-01T00:00:00|2010-08-31T00:00:00|      TRUE|England E & NE|            Monthly|2010|   AUG|      76.6| 14.6|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null| null|null|null|                      58.28|
|    Lincolnshire|http://opendataco...|2019-02-27T00:00:00|2010-09-01T00:00:00|2010-09-30T00:00:00|      TRUE|England E & NE|            Monthly|2010|   SEP|      83.9| 13.4|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null| null|null|null|         56.120000000000005|
|    Lincolnshire|http://opendataco...|2019-02-27T00:00:00|2010-10-01T00:00:00|2010-10-31T00:00:00|      TRUE|England E & NE|            Monthly|2010|   OCT|        65|  9.6|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null| null|null|null|                      49.28|
|    Lincolnshire|http://opendataco...|2019-02-27T00:00:00|2010-11-01T00:00:00|2010-11-30T00:00:00|      TRUE|England E & NE|            Monthly|2010|   NOV|     118.2|  4.5|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null| null|null|null|                       40.1|
|    Lincolnshire|http://opendataco...|2019-02-27T00:00:00|2010-12-01T00:00:00|2010-12-31T00:00:00|      TRUE|England E & NE|            Monthly|2010|   DEC|      40.7| -1.2|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null| null|null|null|                      29.84|
|    Lincolnshire|http://opendataco...|2019-02-27T00:00:00|2009-12-01T00:00:00|2010-02-28T00:00:00|      TRUE|England E & NE|             Season|2010|Winter|     228.7| 1.52|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null| null|null|null|                     34.736|
|    Lincolnshire|http://opendataco...|2019-02-27T00:00:00|2010-03-01T00:00:00|2010-05-31T00:00:00|      TRUE|England E & NE|             Season|2010|Spring|     108.6| 7.85|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null| null|null|null|         46.129999999999995|
|    Lincolnshire|http://opendataco...|2019-02-27T00:00:00|2010-06-01T00:00:00|2010-08-31T00:00:00|      TRUE|England E & NE|             Season|2010|Summer|     180.5|15.08|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null| null|null|null|         59.144000000000005|
|    Lincolnshire|http://opendataco...|2019-02-27T00:00:00|2010-09-01T00:00:00|2010-11-30T00:00:00|      TRUE|England E & NE|             Season|2010|Autumn|     267.2| 9.17|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null| null|null|null|                     48.506|
|    Lincolnshire|http://opendataco...|2019-02-27T00:00:00|2010-01-01T00:00:00|2010-12-31T00:00:00|      TRUE|England E & NE|      Calendar Year|2010|Annual|     738.3| 8.16|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null| null|null|null|                     46.688|
|    Lincolnshire|http://opendataco...|2019-02-27T00:00:00|2011-01-01T00:00:00|2011-01-31T00:00:00|      TRUE|England E & NE|            Monthly|2011|   JAN|      54.5|  3.1|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null| null|null|null|                      37.58|
|    Lincolnshire|http://opendataco...|2019-02-27T00:00:00|2011-02-01T00:00:00|2011-02-28T00:00:00|      TRUE|England E & NE|            Monthly|2011|   FEB|        82|  5.4|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null| null|null|null|                      41.72|
|    Lincolnshire|http://opendataco...|2019-02-27T00:00:00|2011-03-01T00:00:00|2011-03-31T00:00:00|      TRUE|England E & NE|            Monthly|2011|   MAR|      20.5|    6|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null| null|null|null|                       42.8|
+----------------+--------------------+-------------------+-------------------+-------------------+----------+--------------+-------------------+----+------+----------+-----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+-----+----+----+---------------------------+
only showing top 20 rows